<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/stylesheet.css">
<title>Examination 2</title>
</head>
<body>
    <header>
        {{>head}}
    </header>
    <nav>
        {{>navbar}}
    </nav>
    <br>
    {{>flash}}
    {{{body}}}
    <br>
    {{>footer}}
</body>
</html>
