<!DOCTYPE html>
<html>
    <head>
    <title>Snippets</title>
    </head>
    <header>
        {{>head}}
    </header>
    <nav>
        {{>navbar}}
    </nav>
    <body>
        <br>
        <div class="flash">
            {{>flash}}
        </div>
        {{{body}}}
        <br>
        {{>footer}}
        <script src="/js/loadCSS.js"></script>
    </body>
</html>
