<!DOCTYPE html>
<html>
<head>
<title>Examination 2</title>
</head>
<body>
    {{>head}}
    {{>navbar}}
    <br>
    {{>flash}}
    {{{body}}}
    <br>
    {{>footer}}
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>
