<form action="/login" method="post">
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password"><br>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button type="submit">Log in</button>
</form>
