{{#if error}}
<p>The login information you entered is not correct.</p>
{{/if}}
<form action="/login" method="post">
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password"><br>
<button type="submit">Log in</button>
</form>
