<form action="/snippets/new" method="post">
<input type="text" name="title" required><br>
<input type="text" name="data" required><br>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button type="submit">Save</button>
</form>
