<H1>DIS IS A NUEW SNIPET!!!!!!111!!!11!1</H1>

<form action="/snippets/save" method="post">
Title:<input type="text" name="title"><br>
Data:<input type="text" name="data"><br>
<button type="submit">Save</button>
</form>
