<div class="snippet">
<form action="/snippets/new" method="post" class="snippetForm">
<input type="text" name="title"  class="titleArea" placeholder="Title" required><br>
<textarea cols="40" rows="5" name="data" class="textArea" placeholder="Snippet" required></textarea><br>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button type="submit" class="btn">Save</button>
</form>
</div>
